<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Stardos+Stencil" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Special+Elite" />
    <link href='https://fonts.googleapis.com/css?family=Coustard' rel='stylesheet'>
    <title>Movies</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer></script>
</head>

<body>
    <div id="app">
        <div class="grid-container">
            <div class="header">
                <h1>Carrots and sticks</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.</p>
            </div>

            <div class="menu">
                <form @submit.prevent="searchMovies">
                    <input type="text" id="searchbox" placeholder="Search for a movie" v-model="search">
                    <button type="submit" id="submit">Submit</button>
                    <input id="topMovies" type="button" value="Top movies" @click="showTopMovies()"
                        :enabled="currentPage !== 'topMovies'">
                    <input id="myFavorites" type="button" value="My favorites" @click="showFavorites()"
                        :enabled="currentPage !== 'favorites'">
                    <input id="myMovies" type="button" value="My movies" @click="showMyMovies()"
                        :enabled="currentPage !== 'myMovies'">
                    <input id="addMovie" type="button" value="Add a movie" @click="showAddMovies()"
                        :enabled="currentPage !== 'addMovies'">
                    <input id="categories" type="button" value="Categories">
                </form>
            </div>

            <div class="main">

                <div id="topMovies" v-if="currentPage === 'topMovies'">
                    <h2>Our users favorite movies</h2>
                    <ol id="titlesWithBestScore">
                        <li v-for="movie in topMovies">
                            <div class="container">
                                <img :src="movie.image" alt="Movie poster" class="image">
                                <div class="overlay">
                                    <div class="text">Description: Lorem ipsum dolor sit amet. {{movie.genre}}
                                        {{movie.tags[0]}}, {{movie.tags[1]}}, {{movie.tags[2]}} Rating
                                        {{movie.rating}} </div>
                                </div>
                            </div>
                            {{ movie.title }} - {{movie.year}}
                            <button type="button" @click="addToFavorites(movie)">Add to Favorites</button>
                        </li>
                    </ol>
                </div>

                <div id="myfavorites" v-if="currentPage === 'favorites'">
                    <h2>Favorites</h2>
                    <ol id="favoritesList">
                        <li v-for="(favorite, index) in favorites">
                            <div class="container">
                                <img :src="favorite.image" alt="Movie poster" class="image">
                                <div class="overlay">
                                    <div class="text">Description: Lorem ipsum dolor sit amet. {{favorite.genre}}
                                        {{favorite.tags[0]}}, {{favorite.tags[1]}}, {{favorite.tags[2]}} Rating
                                        {{favorite.rating}} </div>
                                </div>
                            </div>
                            {{ favorite.title }} - {{favorite.year}}
                            <button type="button" @click="removeFromFavorites(index)">Remove</button>
                        </li>
                    </ol>
                </div>

                <div id="myMovies" v-if="currentPage === 'myMovies'">
                </div>

                <div id="addMovies" v-if="currentPage === 'addMovies'">
                    <form>
                        <h2>Add a movie</h2>
                        <h3>TitleName</h3>
                        <input type="text" id="titleInput" placeholder="Enter a title" v-model="titleInput">
                        <h3>Genre</h3>
                    </form>
                </div>

                <div id="results" v-if="searchResults.length > 0 && currentPage === 'searchResults'">
                    <h2>Search results:</h2>
                    <div>
                        <p>Order by:</p>
                        <select v-model="sortBy">
                            <option value="year">Year</option>
                            <option value="alphabetically">A-Z</option>
                        </select>

                    </div>
                    <ul id="resultList">
                        <li v-for="result in sortMovies()">
                            <div class="container">
                                <img :src="result.image" alt="Movie poster" class="image">
                                <div class="overlay">
                                    <div class="text">Description: Lorem ipsum dolor sit amet. {{result.genre}}
                                        {{result.tags[0]}}, {{result.tags[1]}}, {{result.tags[2]}} Rating
                                        {{result.rating}}</div>
                                </div>
                            </div>
                            {{ result.title }} - {{result.year}}
                            <button type="button" @click="addToFavorites(result)">Add to Favorites</button>
                        </li>
                    </ul>

                    <ul id="resultList">
                        <li v-for="result in sortMovies()">
                            <div class="container">
                                <img :src="result.image" alt="Movie poster" class="image">
                                <div class="overlay">
                                    <div class="text">Description: Lorem ipsum dolor sit amet. {{result.genre}}
                                        {{result.tags[0]}}, {{result.tags[1]}}, {{result.tags[2]}} Rating
                                        {{result.rating}} </div>
                                </div>
                            </div>
                            {{ result.title }} - {{result.year}}
                            <button type="button" @click="addToFavorites(result)">Add to Favorites</button>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="ads">
                <p>ADVERTS</p>
            </div>

            <div class="footer">
                <p>FOOTER</p>
            </div>

        </div>

    </div>

</body>

</html>