html {
    color: rgb(151, 221, 59);
    background-color: rgba(19, 19, 19, 0.808);
    font-family: Stardos Stencil;
    /* background-image:url(Media/background-image-whitegrey.png);
    border:solid 18px rgb(0, 0, 0); */
    border-bottom: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr) 200px;
    /*grid-template-rows: 1fr 50px repeat(5, 1fr) 50px;
    */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url(Media/test.png);
}

.header {
    grid-area: 1 / 1 / 2 / 6;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-top: solid 1px green;
    border-right: solid 1px green;
    border-left: solid 1px green;
}

.menu {
    grid-area: 2 / 1 / 3 / 6;
    background-color: rgb(0, 0, 0);
    /* border-bottom:solid 5px rgb(88, 88, 88); */
    justify-self: center;
    align-self: center;
    border-top: solid 1px green;
    border-left: solid 1px green;
    border-right: solid 1px green;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

#searchbox {
    justify-self: baseline;
    margin: 10px;
    margin-left: 0px;
    margin-right: 25p;
}

#submit {
    margin-right: 10px;
}

.menu input[type="button"] {
    justify-self: center;
    align-items: center;
    /* background-image:url(Media/background-image-whitegrey.png); */
    padding: 5px;
    background-color: white;
    margin: 3px;
    border: solid 2px rgb(0, 0, 0);
    outline: solid 2px black;
}

.main,
.ads {
    border: solid 1px green;
}

.header,
.main,
.left,
.footer {
    background-image: url(Media/test.png);
}

.main {
    grid-area: 3 / 1 / 7 / 6;
    padding-top: 0;
    
}

.ads {
    grid-area: 7 / 1 / 8 / 6;
    text-align: center;
    border-left: solid 1px green;
    border-right: solid 1px green;
    background-color: black;
}

.footer {
    grid-area: 8 / 1 / 9 / 6;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: solid 1px green;
}

h1 {
    font-size: 48px;
    text-align: center;
    font-family: Special Elite;
}

h2 {
    font-size: 28px;
    text-align: center;
    font-family: Coustard;
    padding: 10px;
}

/* ol#titlesWithBestScore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    list-style: none;
    padding: 30px;
} */

/* ol.li {
    display: inline;
    padding-right: 25px;
    margin: 30px;
} */

@media (max-width:800px) {
    .header {
        justify-self: right;
    }
}

/* #titlesWithBestScore {
    position: relative;
} */

.title {
    font-size: 24px;
}

li::marker {
    visibility: hidden;
}

#favorites {
    display: none;
}

/*
#topMovies,
#favorites,
#myMoviesPage,
#addMoviePage { 
    color: black;
    display: none;
    background-image: url(Media/background-image-whitegrey.png);
}
*/
#resultList,
#favoritesList,
#titlesWithBestScore {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

#resultList li,
#favoritesList li,
#titlesWithBestScore li {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    
}

img {
    max-width: 100%;
    height: auto;
}

/* ChatGPT help */
.container {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(128, 128, 128, 0.342);
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
/* ChatGPT help */

#addMovies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
   
}