.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .header { 
        grid-area: 1 / 1 / 2 / 6; 
        
    }
    .menu { grid-area: 2 / 1 / 6 / 2; }
    .main { grid-area: 2 / 2 / 6 / 5; }
    .right { grid-area: 2 / 5 / 6 / 6; }
    
h1 {
    text-align:center;
}

#searchbox {
    justify-self: left;
}
    
    

